*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.container {
    display: flex;
    justify-content: center;
   margin: 18rem;
}
button{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-shadow:       1px 3px 4px black, 2px 3px 10px rgb(24, 63, 76), 3px 3px 5px rgb(28, 63, 75);
    font-weight: 400;
     box-shadow: 10px 10px 5px lightblue inset;
    padding: 2rem;
    font-style: italic;
    border:4px solid lightblue;
    background-color: transparent;
    border-radius: 10px 80px  0px; 
 
    font-size: 2rem;

}
@media(max-width:320px){
    .container {
        display: flex;
        justify-content: center;
        margin: 15rem 5rem;
    }    
    button{
        padding: 1.5rem;
        font-size: 1.5rem;
        border-radius: 10px 40px  0px; 
    }
}
@media(max-width:375px){
    .container {
        display: flex;
        justify-content: center;
        margin: 15rem 5rem;
    }    
    button{
        padding: 1.5rem;
        font-size: 1.5rem;
        border-radius: 10px 40px  0px; 
    }
}
@media(max-width:425px){
    .container {
        display: flex;
        justify-content: center;
        margin: 15rem 5rem;
    }    
    button{
        padding: 1.5rem;
        font-size: 1.5rem;
        border-radius: 10px 40px  0px; 
    }
}
@media(max-width:768px){
    .container {
        display: flex;
        justify-content: center;
        margin: 15rem 5rem;
    }    
    button{
        padding: 1.5rem;
        font-size: 1.5rem;
        border-radius: 10px 40px  0px; 
    }
}